<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PCP-Pet Medicine</title>
    <link rel="stylesheet" href="medicine_style.css">
</head>
<body>
    <div class="mainofmedicine">
        <div class="navbarofmedicine" id="navbarofmedicine">
            <div class="nav-leftofmedicine" onclick="window.location.href='/';">
                <div class="company-name">
                    <h1>petcarepal</h1>
                </div>
                <div class="descrip">
                    <p>Who let the dogs out!</p>
                </div>
            </div>
            <div class="nav-middleofmedicine">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="search" placeholder="Search food items for your pet..">
            </div>
            <div class="nav-rightofmedicine">
                <div class="nav-right-partone">
                    <i class="fa-solid fa-user"></i>
                    <h4>account</h4>
                </div>
                <div class="nav-right-parttwo">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <h4>cart</h4>
                </div>
                <span class="numberclass">
                    <div class="num">0</div>
                </span>
            </div>
        </div>
        <div class="poster-medicine">
            <div class="posterone box"></div>
            <div class="postertwo box"></div>
            <div class="posterthree box"></div>
            <div class="posterfour box"></div>
        </div>
        <div class="pet-medicine">
            <div class="categories-section">
                <div class="category-sec">
                    <div class="category-heading">
                    <div class="heading">
                        <h3>category:</h3>
                    </div>
                    <i class="fa-solid fa-paw"></i>
                    </div>
                    <div class="category-list">
                        <div class="home">
                            <a href='http://localhost:8082/' target="_blank"><i class="fa-solid fa-caret-right"></i> home</a>
                        </div>
                        <div class="product-lists">
                            <div class="list-box-one">
                                <p><i class="fa-solid fa-caret-right"></i> Dogs Supplements & Vitamins</p>
                            </div>
                            <div class="list-box-two">
                                <p><i class="fa-solid fa-caret-right"></i> Dogs Shampoos</p>
                            </div>
                            <div class="list-box-three">
                                <p><i class="fa-solid fa-caret-right"></i> Dogs Deodorizers</p>
                            </div>
                            <div class="list-box-four">
                                <p><i class="fa-solid fa-caret-right"></i> Dogs Flea Sprays</p>
                            </div>
                            <div class="list-box-four">
                                <p><i class="fa-solid fa-caret-right"></i> Dogs Flea Drops</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="medicine-section">
                <div class="medicine-one">
                    <div class="medi-img">
                        <img src="./images/medi-one.webp" alt="">
                    </div>
                    <div class="medi-descrip">
                        <div class="wrapper-descrip">
                            <div class="rating">
                                <p>4.4</p>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="best-seller">
                                <i class="fa-solid fa-bag-shopping"></i>
                                <p>Bestseller</p>
                            </div>
                        </div>
                        <div class="descrip">
                            <p>Intas Neomac (Ivermectin) 10mg Tablets For Dogs</p>
                        </div>
                        <div class="price">
                            <p><i class="fa-solid fa-indian-rupee-sign"></i>190</p>
                        </div>
                    </div>
                    <div class="select-button">
                        <button>ADD TO CART</button>
                    </div>
                </div>
                <div class="medicine-two">
                    <div class="medi-img">
                        <img src="./images/medi-two.webp" alt="">
                    </div>
                    <div class="medi-descrip">
                        <div class="wrapper-descrip">
                            <div class="rating">
                                <p>4.2</p>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="best-seller">
                                <i class="fa-solid fa-bag-shopping"></i>
                                <p>Bestseller</p>
                            </div>
                        </div>
                        <div class="descrip">
                            <p>Skyec Sky Cal Calcium Supplement Syrup For Dogs</p>
                        </div>
                        <div class="price">
                            <p><i class="fa-solid fa-indian-rupee-sign"></i>120</p>
                        </div>
                    </div>
                    <div class="select-button">
                        <button>ADD TO CART</button>
                    </div>
                </div>
                <div class="medicine-three">
                    <div class="medi-img">
                        <img src="./images/medi-three.webp" alt="">
                    </div>
                    <div class="medi-descrip">
                        <div class="wrapper-descrip">
                            <div class="rating">
                                <p>4.7</p>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="best-seller">
                                <i class="fa-solid fa-bag-shopping"></i>
                                <p>Bestseller</p>
                            </div>
                        </div>
                        <div class="descrip">
                            <p>Intas Neomac (Ivermectin) 10mg Tablets For Dogs</p>
                        </div>
                        <div class="price">
                            <p><i class="fa-solid fa-indian-rupee-sign"></i>150</p>
                        </div>
                    </div>
                    <div class="select-button">
                        <button>ADD TO CART</button>
                    </div>
                </div>
                <div class="medicine-four">
                    <div class="medi-img">
                        <img src="./images/medi-four.webp" alt="">
                    </div>
                    <div class="medi-descrip">
                        <div class="wrapper-descrip">
                            <div class="rating">
                                <p>4.1</p>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="best-seller">
                                <i class="fa-solid fa-bag-shopping"></i>
                                <p>Bestseller</p>
                            </div>
                        </div>
                        <div class="descrip">
                            <p>Zeotis Simparica Trio Dog Tick and Flea Control Tablet (Pack of 3 Tablets)</p>
                        </div>
                        <div class="price">
                            <p><i class="fa-solid fa-indian-rupee-sign"></i>1,750</p>
                        </div>
                    </div>
                    <div class="select-button">
                        <button>ADD TO CART</button>
                    </div>
                </div>
                <div class="medicine-five">
                    <div class="medi-img">
                        <img src="./images/medi-five.webp" alt="">
                    </div>
                    <div class="medi-descrip">
                        <div class="wrapper-descrip">
                            <div class="rating">
                                <p>4.4</p>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="best-seller">
                                <i class="fa-solid fa-bag-shopping"></i>
                                <p>Bestseller</p>
                            </div>
                        </div>
                        <div class="descrip">
                            <p>Himalaya Furglow Skin and Coat Tonic For Dogs</p>
                        </div>
                        <div class="price">
                            <p><i class="fa-solid fa-indian-rupee-sign"></i>295</p>
                        </div>
                    </div>
                    <div class="select-button">
                        <button>ADD TO CART</button>
                    </div>
                </div>
                <div class="medicine-sixth">
                    <div class="medi-img">
                        <img src="./images/medi-sixth.webp" alt="">
                    </div>
                    <div class="medi-descrip">
                        <div class="wrapper-descrip">
                        <div class="rating">
                            <p>4.4</p>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        </div>
                        <div class="descrip">
                            <p>Savavet Carodly (Carprofen) 100mg Tablets for Dogs</p>
                        </div>
                        <div class="price">
                            <p><i class="fa-solid fa-indian-rupee-sign"></i>1000</p>
                        </div>
                    </div>
                    <div class="select-button">
                        <button>ADD TO CART</button>
                    </div>
                </div>
                <div class="medicine-seven">
                    <div class="medi-img">
                        <img src="./images/medi-seven.webp" alt="">
                    </div>
                    <div class="medi-descrip">
                        <div class="wrapper-descrip">
                        <div class="rating">
                            <p>5</p>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        </div>
                        <div class="descrip">
                            <p>Skyec Herbatake Pet Liver Tonic Appetite Booster For Dogs</p>
                        </div>
                        <div class="price">
                            <p><i class="fa-solid fa-indian-rupee-sign"></i>230</p>
                        </div>
                    </div>
                    <div class="select-button">
                        <button>ADD TO CART</button>
                    </div>
                </div>
                <div class="medicine-eight">
                    <div class="medi-img">
                        <img src="./images/medi-eight.webp" alt="">
                    </div>
                    <div class="medi-descrip">
                        <div class="wrapper-descrip">
                        <div class="rating">
                            <p>2.2</p>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        </div>
                        <div class="descrip">
                            <p>Intas Kiskin Ointment</p>
                        </div>
                        <div class="price">
                            <p><i class="fa-solid fa-indian-rupee-sign"></i>71</p>
                        </div>
                    </div>
                    <div class="select-button">
                        <button>ADD TO CART</button>
                    </div>
                </div>
                <div class="medicine-nine">
                    <div class="medi-img">
                        <img src="./images/medi-nine.webp" alt="">
                    </div>
                    <div class="medi-descrip">
                        <div class="wrapper-descrip">
                        <div class="rating">
                            <p>4.3</p>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        </div>
                        <div class="descrip">
                            <p>Virbac Ketochlor Shampoo (200ml)</p>
                        </div>
                        <div class="price">
                            <p><i class="fa-solid fa-indian-rupee-sign"></i>382</p>
                        </div>
                    </div>
                    <div class="select-button">
                        <button>ADD TO CART</button>
                    </div>
                </div>
                <div class="medicine-ten">
                    <div class="medi-img">
                        <img src="./images/medi-ten.webp" alt="">
                    </div>
                    <div class="medi-descrip">
                        <div class="wrapper-descrip">
                        <div class="rating">
                            <p>4.7</p>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        </div>
                        <div class="descrip">
                            <p>Vetoquinol Dermicholar Antibacterial Antifungal Spray(100ml) For Dogs</p>
                        </div>
                        <div class="price">
                            <p><i class="fa-solid fa-indian-rupee-sign"></i>259</p>
                        </div>
                    </div>
                    <div class="select-button">
                        <button>ADD TO CART</button>
                    </div>
                </div>
                <div class="medicine-eleven">
                    <div class="medi-img">
                        <img src="./images/medi-eleven.webp" alt="">
                    </div>
                    <div class="medi-descrip">
                        <div class="wrapper-descrip">
                        <div class="rating">
                            <p>4.2</p>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        </div>
                        <div class="descrip">
                            <p>Petcare Notix (Propoxur) Tick and Flea Control Powder For Dogs</p>
                        </div>
                        <div class="price">
                            <p><i class="fa-solid fa-indian-rupee-sign"></i>250</p>
                        </div>
                    </div>
                    <div class="select-button">
                        <button>ADD TO CART</button>
                    </div>
                </div>
                <div class="medicine-twelve">
                    <div class="medi-img">
                        <img src="./images/medi-twelve.webp" alt="">
                    </div>
                    <div class="medi-descrip">
                        <div class="wrapper-descrip">
                        <div class="rating">
                            <p>4.5</p>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        </div>
                        <div class="descrip">
                            <p>Himalaya Savacon Vet Spray For Dogs</p>
                        </div>
                        <div class="price">
                            <p><i class="fa-solid fa-indian-rupee-sign"></i>141</p>
                        </div>
                    </div>
                    <div class="select-button">
                        <button>ADD TO CART</button>
                    </div>
            </div>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/77e08a601e.js" crossorigin="anonymous"></script>
    <script src="medicine_script.js"></script>
</body>
</html>