<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SKYCAL SYRUP</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <!-- CSS -->
    <link href="css/product2.css" rel="stylesheet">
    <meta name="robots" content="noindex,follow" />

  </head>

  <body>
    <main class="container">
		<div class="left-column">
        <img src="./images/medi-two.webp" alt="">
      </div>
      


      <!-- Right Column -->
      <div class="right-column">

        <!-- Product Description -->
        <div class="product-description">
          <span>Pawsitively Pet Care Sky Ec Skycal Pet Liquid For Stronger Bones, Teeth, Growth In Pets - 200Ml </span>
          <h1>SKYCAL SYRUP</h1>
          <p>
    Calcium and Phosphorus supplement with Vitamins A, D3 and B12, Calcium & Phosphorus Development of bones and teeth.
    Vitamin A : Required for healthy vision and cell growth, Vitamin B12 : Formation of red blood cells, maintains normal functioning of nervous system
    Lactating bitches : Fulfils the increased demand of calcium, Dogs having fractures : Improves bone strength and speeds up recovery of fractured bone
    Pups & cats : 5ml twice daily, Dog : 10 – 20 ml twice daily
</p>
        </div>

        <!-- Product Configuration -->
        <div class="product-configuration">


          <!-- Cable Configuration -->
          <div class="cable-config">
            <span>Quantity</span>

            <div class="cable-choose">
              <button>1</button>
              <button>2</button>
              <button>3</button>
            </div>

            <a href="https://skyecpharma.com/product/skycal-pet/" target="_blank">Directions for Use</a>

          </div>
        </div>

        <!-- Product Pricing -->
        <div class="product-price">
          <span>Rs.120</span>
          <a href="#" class="cart-btn">Add to cart</a>
        </div>
      </div>
    </main>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="js/product2.js" charset="utf-8"></script>
  </body>
</html>
