<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NEOMEC TABLETS</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <!-- CSS -->
    <link href="css/product1.css" rel="stylesheet">
    <meta name="robots" content="noindex,follow" />

  </head>

  <body>
    <main class="container">
		<div class="left-column">
        <img src="./images/medi-one.webp" alt="">
      </div>
      


      <!-- Right Column -->
      <div class="right-column">

        <!-- Product Description -->
        <div class="product-description">
          <span>IVERMECTIN MELT IN MOUTH TABLETS 10mg</span>
          <h1>NEOMEC</h1>
          <p>Neomec Vet Tablet is an anti-worm medicine. It is used for the treatment of worm infection. It contains ivermectin as its active ingredient. 
			  It is used in the treatment of worm infections in your intestines. 
			  Neomec Vet Tablet should be taken as directed by the doctor and in doses and duration as prescribed. 
			  It should be taken before food. 
			  Do not take this medicine if you are allergic to it or you are suffering from any heart, liver or kidney diseases.</p>
        </div>

        <!-- Product Configuration -->
        <div class="product-configuration">


          <!-- Cable Configuration -->
          <div class="cable-config">
            <span>Quantity</span>

            <div class="cable-choose">
              <button>1</button>
              <button>2</button>
              <button>3</button>
            </div>

            <a href="https://pharmeasy.in/online-medicine-order/neomec-tab-vet-10-s-120537#sideEffects" target="_blank">Directions for Use</a>

          </div>
        </div>

        <!-- Product Pricing -->
        <div class="product-price">
          <span>Rs.190</span>
          <a href="#" class="cart-btn">Add to cart</a>
        </div>
      </div>
    </main>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="js/product1.js" charset="utf-8"></script>
  </body>
</html>
