<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Skyec SkyWorm Puppy Deworming Suspension</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <!-- CSS -->
    <link href="css/product3.css" rel="stylesheet">
    <meta name="robots" content="noindex,follow" />

  </head>

  <body>
    <main class="container">
		<div class="left-column">
        <img src="./images/medi-three.webp" alt="">
      </div>
      


      <!-- Right Column -->
      <div class="right-column">

        <!-- Product Description -->
        <div class="product-description">
          <span>PYRANTEL EMBONATE AND FEBANTEL </span>
          <h1>Skyec SkyWorm Puppy Deworming Suspension 15ml </h1>
          <p>
    Skyworm puppy dewormer contains a synergistic combination of Pyrantel embonate & Febantel which gives more than 90% efficacy. Safe in puppies. 
    Control and remove tapeworm, roundworm, hookworm and whipworm.
</p>
        </div>

        <!-- Product Configuration -->
        <div class="product-configuration">


          <!-- Cable Configuration -->
          <div class="cable-config">
            <span>Quantity</span>

            <div class="cable-choose">
              <button>1</button>
              <button>2</button>
              <button>3</button>
            </div>

            <a href="https://skyecpharma.com/product/skyworm-puppy/" target="_blank">Directions for Use</a>

          </div>
        </div>

        <!-- Product Pricing -->
        <div class="product-price">
          <span>Rs.150</span>
          <a href="#" class="cart-btn">Add to cart</a>
        </div>
      </div>
    </main>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="js/product1.js" charset="utf-8"></script>
  </body>
</html>
